@model IEnumerable<cumulative1.Models.Student>

<h1>Student List</h1>

@foreach (cumulative1.Models.Student student in Model)
{
    <div>@student.StudentId @student.StudentFname @student.StudentLname @student.StudentNumber @student.EnrolDate</div>
}