@model cumulative1.Models.Student

<h1>@Model.StudentFname @Model.StudentLname</h1>
<p>Student ID: @Model.StudentId</p>
<p>First Name: @Model.StudentFname</p>
<p>Last Name: @Model.StudentLname</p>
<p>Student Number: @Model.StudentNumber</p>
<p>Enroldate: @Model.EnrolDate</p>

<a href="/StudentPage/List">Back to List</a>
<a href="/StudentPage/DeleteConfirm/@Model.StudentId">Delete</a>
<a href="/StudentPage/Edit/@Model.StudentId">Edit</a>